  <div class="btn btn-default col-md-offset-9">
    <%= sort_link "created_at", "Order By" %>

  </div>
  <% @posts.each do |p| %>
    <div class="w3-content" style="max-width:2000px" id="div<%= p.id%>">
      <div class="w3-row col-md-offset-2">
        <div class="w3-col 14 s10 ">
          <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container  col-md-offset-1">
              <h3>
                <tr>
                  <u>
                    <%= link_to p.title, profile_user_path(id: p.id) %>
                  </u>
                </h3>
                <h5>Description,
                  <span class="w3-opacity">
                    <%= p.created_at.strftime("%d %b, %Y %H:%M") %>
                  </span>
                </h5>
                <%= raw(p.description) %>
              </div>
              <div class="w3-container  col-md-offset-1">
                <div class="w3-row">
                  <small>

                    <% if current_user.present? %>
                      <% if p.user == current_user || current_user.admin_role? %>
                      <p align="right">
                        <%= link_to "Edit Post" ,edit_post_path(id: p.id),:method => :get, class: 'btn btn-primary' %>
                        <%= link_to "Delete Post" ,post_path(id: p.id),:method => :delete, remote: true,:confirm => "Are you sure?" , class: 'btn btn-primary' %>
                      </p>
                      <% end %>
                      <% end %>

                  </small>

                  <div class="btn-group">
                    <% if  p.favorite_lists.where(user_id: p.id ).count == 0 %>
                      <%= button_to "Add to favourites", favourite_post_path(post_id: p.id),remote: true , method: "post" , id: "btn#{p.id}" , class: "btn btn-w-m btn-default btn-space" %>
                    <% else %>
                      <%= button_to "Remove from favourites", favourite_post_path(post_id: p.id), remote: true , method: "post" , id: "btn#{p.id}",class: "btn btn-w-m btn-default btn-space" %>
                    <% end %>
                    <br>
                    <% if  p.favorite_lists.where(user_id: p.id ).count == 0 %>
                      <%= button_to "Like", feedbacks_like_path(post_id: p.id) ,remote: true , method: "post" , id: "likebtn#{p.id}",class: "btn btn-w-m btn-default success" %>
                    <% else %>
                      <% if  p.feedbacks.where(user_id: p.id , like: true).count == 0 %>
                        <%= button_to "Like", feedbacks_like_path(post_id: p.id) , remote: true,method: "post" , id: "likebtn#{p.id}", class: "btn btn-w-m btn-default success" %>
                      <% else %>
                        <%= button_to "Dislike", feedbacks_like_path(post_id: p.id) , remote: true,method: "post" , id: "likebtn#{p.id}",class: "btn btn-w-m btn-default danger"%>
                      <% end %>
                    <% end %>

                  </div>
                  <div align="right">
                    <%= p.user.name %>
                  </div>

                  <div class="tags t-jquery t-css t-dialog t-modal-dialog">
                              <a href="/questions/tagged/jquery" class="post-tag" title="show questions tagged 'jquery'" rel="tag">jquery</a> <a href="/questions/tagged/css" class="post-tag" title="" rel="tag">css</a> <a href="/questions/tagged/dialog" class="post-tag" title="" rel="tag">dialog</a> <a href="/questions/tagged/modal-dialog" class="post-tag" title="" rel="tag">modal-dialog</a>
                          </div>
                  <%  p.tags.each do |tag| %>
                  <div class="summary">
                  <div class="tags t-wordpress">

                  <%= render tag %>
                </div>
              </div>
                <% end %>




                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>


      <div id="infinite-scrolling" class="col-md-offset-2">
        <%= will_paginate @posts , renderer: BootstrapPagination::Rails %>

      </div>
