<%= render :partial => "dashboard/header_title" %>
<body class="w3-light-grey">



  <% @fav_list.each do |p| %>
  <div class="w3-content" style="max-width:2000px" id="divbtn<%=p.id%>">
    <div class="w3-row col-md-offset-2">
      <div class="w3-col 14 s10 " >
        <div class="w3-card-4 w3-margin w3-white">
          <div class="w3-container  col-md-offset-1" >
            <div align="right" id="divbtn<%=p.id%>">

              <% if p.post.user == current_user %>
                <% if p.user == current_user || current_user.admin_role? %>
              <%= link_to edit_post_path(id: p.id),:method => :get, class: "btn btn-info btn-lg" do%> <i class="fa fa-edit"></i> <% end %>
              <%= link_to post_path(id: p.id),:method => :delete, remote: true,:confirm => "Are you sure?" , class: "btn btn-info btn-lg" do%> <i class="fa fa-trash"></i> <% end %>
              <% end %>
              <% end %>

              <% if current_user.present? %>
              <% if  FavoriteList.where(user_id: current_user.id ).count == 0 %>

              <%= link_to favourite_post_path(post_id: p.post.id),remote: true , method: "post"  , class: "btn btn-info btn-lg" do%> <i class="glyphicon glyphicon-star" aria-hidden="true"></i> <% end %>
              <% else %>
              <%= link_to favourite_post_path(post_id: p.post.id),remote: true , method: "post"  , class: "btn btn-info btn-lg" do%> <i class="glyphicon glyphicon-star icon-a"></i> <% end %>
              <% end %>

              <% if  Feedback.where(user_id: current_user.id ).count == 0 %>
              <%= link_to feedbacks_like_path(post_id: p.post.id), remote: true , method: "post" , id: "likebtn#{p.id}", class: "btn btn-warning btn-lg  icon-a"  do%> <i class="fas fa-heart" aria-hidden="true" ></i> <% end %>
              <% else %>
              <% if Feedback.where(user_id: current_user.id , like: true).count == 0 %>
              <%= link_to feedbacks_like_path(post_id: p.post.id), remote: true , method: "post"  , id: "likebtn#{p.id}", class: "btn btn-warning btn-lg " do%> <i class="fas fa-heart" aria-hidden="true" ></i> <% end %>

                <% else %>
                <%= link_to feedbacks_like_path(post_id: p.post.id), remote: true , method: "post"  , id: "likebtn#{p.id}", class: "btn btn-warning btn-lg" do%> <i class="fas fa-heart"></i> <% end %>
                <% end %>
                <% end %>
                <% end %>


            </div>
            <h3>
              <tr>
                <u>
                  <%= link_to p.post.title, profile_user_path(id: p.id) %>
                </u>
              </h3>
              <div class="dropdown profile-element pmargin">
              <div class="col-md-3 pmargin">
                 <img alt="image" class="img-circle" <%= image_tag(p.user.avatar_url , size: "40x40") %>
                 <%= p.user.name %>
               </div>
               <div class="col-md-3 pmargin">
                 <%= p.created_at.strftime("%d %b, %Y") %>
              </div>
            </div>

              <div class="col-md-12 pmargin">
                <p class="pmargin">

<% if p.post.description.length > 250 %>
  <%= raw p.post.description.truncate(250) %>
  <%= link_to '...Read more', '', class: "read-more-#{p.id} danger" %>
  <script>
    $('.read-more-<%= p.id %>').on('click', function(e) {
      e.preventDefault()
      $(this).parent().html('<%= escape_javascript raw(p.post.description)%>')
    })
  </script>
<% else %>
    <%= raw(p.post.description) %>
<% end %>

            </p>
            </div>
        </div>


            <div class="w3-container  col-md-offset-1">
              <div class="w3-row">
                <%  p.post.tags.each do |tag| %>



<div class="button">

  <%=  render tag %>
</div>

              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div id="infinite-scrolling" class="col-md-offset-2">
      <%= will_paginate @fav_list , renderer: BootstrapPagination::Rails %>
    </div>
