<%= render :partial => "dashboard/header_title" %>

<div class="w3-content" style="max-width:2000px">
	<div class="w3-row col-md-offset-2">
		<div class="w3-col 14 s10 ">
			<div class="w3-card-4 w3-margin w3-white">
				<div class="w3-container  col-md-offset-1">
					<table class="table">
						<th>USERNAME</th>
						<th>STATUS</th>
						<% @following.each do |u| %>
							<% if u != current_user %>
								<% if @accepted.include?(u)%>
									<div id="div<%=u.id%>" class="ibox float-e-margins container">
										<div class="ibox-content table">
											<div class="col-sm-3">
												<tr>

													<td>
														<%= link_to profile_user_path(id: u.id) do %>
														<h3 class="font-bold">
															<%= u.name %>
														</h3>
													<% end %>
												</td>

												<td>
													<%= link_to 'UnFollow',unfollow_path({to_id: u.id}),remote: true,method: "delete", class: "btn btn-outline btn-default"%>
													<% elsif current_user.requested_by_me?(u) %>
														<%= link_to "Revert Request", revert_path({to_id: u.id}),remote: true,method: "delete",class: "btn btn-outline btn-default"%>
													<% else %>
														<%= link_to "Follow", follows_path({to_id: u.id}),remote: true,method: "post",class: "btn btn-outline btn-default"%>
													<% end %>
												</td>

											</tr>
										</div>
									</div>
								</div>
							<% else %>
								<div class="ibox float-e-margins">
									<div class="ibox-content">
										<h3>
											NO Followering user
										</h3>
									</div>
								</div>
							<% end %>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
