<%= render :partial => "dashboard/header_title" %>
<div class="container">
	<h2 class="font-bold">Followings</h2>
	<%= will_paginate @following %>
	<% if @following.count != 0 %>
		<% @following.each do |f|%>
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<%= link_to profile_user_path(id: f.id) do %>
					<%= f.name %>
				<% end %>
			</div>
		</div>

	<% end %>
<% else %>
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<h3>NO Followings</h3>
		</div>
	</div>
<% end %>
<%= will_paginate @following %>
</div>
