<%= render :partial => "dashboard/header_title" %>
<% @follower.each do |u| %>
  <% if u != current_user %>
    <div id="div<%=u.id%>" class="ibox float-e-margins container">
      <div class="ibox-content">
        <div class="col-sm-3">
          <%= link_to profile_user_path(id: u.id) do %>
          <h3 class="font-bold">
            <%= u.name %></h3>
        <% end %>
      </div>
      <div >
        <% if @accepted.include?(u)%>
          <%= link_to 'UnFollow',unfollow_path({to_id: u.id}),remote: true,method: "delete", class: "btn btn-outline btn-default"%>
          <% elsif current_user.requested_by_me?(u) %>
            <%= link_to "Revert Request", revert_path({to_id: u.id}),remote: true,method: "delete",class: "btn btn-outline btn-default"%>
          <% else %>

            <%= link_to "Follow", follows_path({to_id: u.id}),remote: true,method: "post",class: "btn btn-outline btn-default"%>
          <% end %>

        </div>
      </div>
    </div>

  <% else %>
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <h3>NO Followers</h3>
      </div>
    </div>
  <% end %>
<% end %>
