<nav class="navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Create post" , new_post_path %></li>
        <li><%= link_to "Users" , show_user_path %></li>

        <div class="navbar-form navbar-left" align="right">
          <%= form_tag(dashboard_search_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "What're we looking for ?" ,class: 'form-control',required: true %>
          <%= submit_tag "Search", :name => nil,class: 'btn btn-primary' , id: "search_submit" %>
        <% end %>
      </div>
    </ul>

    <% if user_signed_in?%>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <div class="dropdown profile-element">
             <img alt="image" class="img-circle" <%= image_tag(current_user.avatar_url , size: "40x40") %>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="text-muted text-xs block">Profile
                      <b class="caret"></b>
                    </span>
               </a>

            <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <%= link_to "View Profile" ,profile_user_path(id: current_user.id) %>
            </li>
            <li>
              <%= link_to "Edit profile", edit_user_registration_path(id: current_user.id) %>
            </li>
          </ul>
        </li>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        </ul>
      <% end %>
      <li>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>

</ul>
</div>
</div>
</nav>
